*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: sans-serif;
}
nav{

 background: #5b78c7;
    height: 10vh;
    width: 100%;
  
}
.nav-links{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
 margin-left: auto;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
   
}
.hd{
    
    display: flex;

    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color:  #859fee;


}
svg{
    
    
    margin: 20px;
    padding: 10px;
    height: auto;
    
}
.txt{
    width: 100%;
    text-align: center;
    height: 20vh;
    padding-top: 50px;
    
}
.container{
    padding: 0.8rem 1.2rem;
    text-align: center;
}
.container ul{
    list-style: none;
    
}
.blue-container{
    width: 100%;
    background-color: #668cff;
    color: white;
    padding: 4em 0 2em;
    transform: skewY(-2deg);
    border-top-left-radius: 40px;
}

.blue-container ul{
    transform: skewY(2deg);
}

@media screen and (max-width: 768px){
    .nav-links{
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(60px at 90% -10%);
        -webkit-clip-path: circle(60px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
 
    .line{
        width: 30px;
        height:3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        top: 50%;
        right: 5%;
        cursor: pointer;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .nav-links.open{
        
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path:circle(1000px at 90% -10%);
        pointer-events: all;
        overflow: hidden;
    }
  
}