*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{

    background: #5b78c7;
       height: 10vh;
       width: 100%;
     
   }
   .nav-links{
       display: flex;
       width: 50%;
       list-style: none;
       justify-content: space-around;
       align-items: center;
       height: 100%;
    margin-left: auto;
   }
   .nav-links li a{
       color: white;
       text-decoration: none;
       font-size: 16px;
      
   }

h1{
    padding-top: 100px;
}
.img{
    
    display: flex;

    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color:  #859fee;


}
svg{
    
    
    margin: 20px;
    padding-top: 40px;
    height: auto;
    
}
.ani{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
        

}
.form{
    width: 100%;
    position: relative;
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}
.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 10px;
    border: none;
    outline: none; 
    z-index: 999;

  
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3 ;
    transform: translateX(-100%);
    transition: transform 0.3s ease;    
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid+ .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

@media screen and (max-width: 768px){
    .nav-links{
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(60px at 90% -10%);
        -webkit-clip-path: circle(60px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
 
    .line{
        width: 30px;
        height:3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        top: 50%;
        right: 5%;
        cursor: pointer;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .nav-links.open{
        
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path:circle(2000px at 90% -10%);
        pointer-events: all;
    
    }
 
 
    
}